<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>820669187011-fo9q5597hat139ahrurci5086a3bvhdr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820669187011-fo9q5597hat139ahrurci5086a3bvhdr</string>
	<key>API_KEY</key>
	<string>AIzaSyBFpAsRRATcpnoGh9w25e6gEIfqRff7j-s</string>
	<key>GCM_SENDER_ID</key>
	<string>820669187011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>games.ajay.HueCard</string>
	<key>PROJECT_ID</key>
	<string>hue-card</string>
	<key>STORAGE_BUCKET</key>
	<string>hue-card.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820669187011:ios:c1a2bded506e5cdf71f376</string>
	<key>DATABASE_URL</key>
	<string>https://hue-card.firebaseio.com</string>
</dict>
</plist>